---
apiVersion: v1
kind: Service
metadata:
  name: "{{ argocd_service_name | default('argocd-nodeport') }}"
  namespace: "{{ argocd_namespace | default('argocd') }}"
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 8080
    nodePort: {{ argocd_nodeport_port | default(30900) }}
  selector:
    app.kubernetes.io/name: argocd-server